header{
    width: 90%;    
    margin: 20% auto;
    min-height: 10vh;
    text-align: center;

    h1{
        font-family: $font1;
        text-transform: uppercase;
        font-size: 5rem;
        color: white;
        letter-spacing: 0.8rem;
        margin-bottom: 2rem;
    }

        p{
            font-family: $font2;
            font-style: italic;
            color: white;
            font-weight: 200;
            letter-spacing: 0.1rem;   
        }
}