nav{
    display: grid;
    grid-template-columns: 50% 50%;  
    width: 80%;
    height: 80px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.313);
    
    .nav-left {
       display: flex;       
       
    }
    .nav-left ul{
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: flex-start;
        
    }

    .nav-left ul li {
        padding: 0 30px;
        font-family: $font1;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.8rem;
        letter-spacing: 1px;
        color: white; 
        cursor: pointer;       
    }

    .nav-left ul li:hover, .nav-right ul li:hover{       
        color: black;
    }

    .nav-right ul{
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: flex-end;
    }

    .nav-right ul li {
        padding: 0 30px;  
        font-size: 1.5rem;
        color: white;
        
        
    }
}

