@font-face {
  font-family: "inter-bold";
  src: url(../font/Inter/static/Inter-ExtraBold.ttf);
}
@font-face {
  font-family: "merri";
  src: url(../font/Merriweather/Merriweather-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

body {
  background: url(../images/bg.jpg) center/cover fixed;
}

nav {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 80%;
  height: 10vh;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.313);
}
nav .nav-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
nav .nav-left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
nav .nav-left ul li {
  padding: 0 30px;
  font-family: inter-bold, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 1px;
  color: white;
  cursor: pointer;
}
nav .nav-left ul li:hover, nav .nav-right ul li:hover {
  color: black;
}
nav .nav-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
nav .nav-right ul li {
  padding: 0 30px;
  font-size: 1.5rem;
  color: white;
}
@media screen and (max-width: 865px) {
  nav .nav-right {
    display: none;
  }
}

header {
  margin: 10% auto 0;
  width: 90%;
  height: 76vh;
  text-align: center;
}
header h1 {
  font-family: inter-bold, sans-serif;
  text-transform: uppercase;
  font-size: 5rem;
  color: white;
  letter-spacing: 0.8rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 960px) {
  header h1 {
    font-size: 3rem;
    letter-spacing: 0.6rem;
  }
}
@media screen and (max-width: 655px) {
  header h1 {
    font-size: 2rem;
    letter-spacing: 0.4rem;
  }
}
@media screen and (max-width: 415px) {
  header h1 {
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
  }
}
header p {
  font-family: merri, serif;
  font-style: italic;
  color: white;
  font-weight: 200;
  letter-spacing: 0.1rem;
}

.first-section {
  background: white;
  width: 80%;
  margin: 0 auto;
}
.first-section .main-section {
  padding-top: 60px;
  text-align: center;
}
.first-section .main-section h3 {
  font-family: merri, serif;
  position: relative;
}
.first-section .main-section h3:before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.174);
  height: 1px;
  width: 25%;
  -webkit-transform: translateX(-125%);
      -ms-transform: translateX(-125%);
          transform: translateX(-125%);
  top: 50%;
}
.first-section .main-section h3:after {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.174);
  height: 1px;
  width: 25%;
  -webkit-transform: translateX(25%);
      -ms-transform: translateX(25%);
          transform: translateX(25%);
  top: 50%;
}
.first-section .main-section h2 {
  width: 60%;
  margin: 50px auto;
  text-transform: uppercase;
  font-family: inter-bold, sans-serif;
  font-size: 4rem;
  letter-spacing: 4px;
}
.first-section .main-section p {
  width: 40%;
  margin: 50px auto;
  font-style: italic;
  font-family: merri, serif;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 2.3rem;
}
.first-section .main-section img {
  display: block;
  width: 80%;
  margin: 80px auto;
}
@media screen and (max-width: 900px) {
  .first-section .main-section h2 {
    font-size: 3rem;
  }
  .first-section .dual-picture {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 705px) {
  .first-section .main-section h2 {
    font-size: 2rem;
    font-weight: 900;
  }
}
@media screen and (max-width: 565px) {
  .first-section .main-section h2 {
    font-size: 1rem;
    font-weight: 1000;
  }
  .first-section .main-section p {
    font-size: 0.8rem;
  }
}

.dual-picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 90px;
  border-top: 1px solid rgba(0, 0, 0, 0.278);
}
.dual-picture .left-picture {
  border-right: 1px solid rgba(0, 0, 0, 0.278);
}
.dual-picture .left-picture, .dual-picture .right-picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 50px;
}
.dual-picture .left-picture h3, .dual-picture .right-picture h3 {
  margin-top: 70px;
  padding-bottom: 20px;
  font-family: merri, serif;
  font-size: 0.8rem;
}
.dual-picture .left-picture h2, .dual-picture .right-picture h2 {
  font-family: inter-bold, sans-serif;
  width: 40%;
  text-align: center;
  padding-bottom: 20px;
}
.dual-picture .left-picture img, .dual-picture .right-picture img {
  width: 80%;
}
.dual-picture .left-picture p, .dual-picture .right-picture p {
  width: 80%;
  margin: 30px 0;
  line-height: 1.8rem;
  font-family: merri, serif;
  font-size: 0.8rem;
}

.second-section {
  margin: 30px auto;
  width: 80%;
  background: white;
  display: grid;
  grid-template-columns: 50% 50%;
}

.form-left {
  padding-top: 50px;
  border-right: 1px solid rgba(0, 0, 0, 0.278);
}

.form-right {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.form-right .first, .form-right .second, .form-right .third, .form-right .fourth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.278);
}
.form-right .first h3, .form-right .second h3, .form-right .third h3, .form-right .fourth h3 {
  text-align: left;
  position: absolute;
  left: 50px;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-family: inter-bold, sans-serif;
  letter-spacing: 1px;
  color: gray;
}
.form-right .first p {
  font-family: merri, serif;
}
.form-right .first p, .form-right .second p, .form-right .third p, .form-right .fourth ul {
  color: gray;
  font-size: 0.8rem;
  position: absolute;
  left: 200px;
}
.form-right .fourth ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form-right .fourth ul li {
  padding-right: 20px;
  color: black;
  cursor: pointer;
}
.form-right .fourth ul li i {
  border: 2px solid black;
  padding: 15px;
  border-radius: 50%;
  border-color: gray;
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
}
.form-right .fourth ul li i:hover {
  background: black;
  color: white;
}

.form-left {
  margin-left: 30px;
}

.form-left label, input, textarea {
  font-family: inter-bold, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.6rem;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.679);
  display: block;
  margin-bottom: 15px;
}

.form-left input, textarea {
  margin-bottom: 15px;
  width: 90%;
  border: 1px solid rgba(0, 0, 0, 0.371);
  border-radius: 3px;
  min-height: 30px;
  resize: none;
}

.btn-arrow {
  margin: 6rem;
  font-size: 2rem;
  color: white;
  background: transparent;
  padding: 25px 30px;
  border-radius: 50%;
  border: 3px solid white;
}
@media screen and (max-width: 530px) {
  .btn-arrow {
    font-size: 1.1rem;
    padding: 12px;
    border: 1px solid white;
  }
}

.btn-first {
  padding: 10px 30px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.btn-first.send {
  color: rgba(0, 0, 0, 0.371);
  border-color: rgba(0, 0, 0, 0.371);
  margin: 30px 0;
}
.btn-first:hover {
  color: white;
  background: black;
}/*# sourceMappingURL=index.css.map */